.not-found__body {
   padding: 213px 0 145px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.not-found__title {
   color: rgb(92, 142, 230);
   font-family: "Bebas Neue";
   font-size: 300px;
   font-weight: 400;
   max-width: 360px;
   max-height: 350px;
   overflow: hidden;
   margin: 0px 0px 35px 0px;
}
.not-found__subtitle {
   color: rgb(41, 45, 51);
   font-size: 28px;
   margin: 0px 0px 30px 0px;
}
.not-found__text {
   color: rgb(41, 45, 51);
   max-width: 480px;
   text-align: center;
   font-size: 16px;
   line-height: 160%;
   margin: 0px 0px 30px 0px;
}
.not-found__btn {
   padding: 25px 64px;
}
@media (max-width: 450px) {
   .not-found__body {
      padding: 150px 0 100px 0;
   }
   .not-found__title {
      font-size: 197px;
      margin: 0px 0px 25px 0px;
   }
   .not-found__subtitle {
      font-size: 20px;
      margin: 0px 0px 23px 0px;
   }
   .not-found__text {
      font-size: 14px;
      margin: 0px 0px 48px 0px;
   }
   .not-found__btn {
      padding: 18px 64px;
      display: block;
      width: 100%;
      text-align: center;
   }
}
