.blog__swiper {
   margin: 0px 0px 225px 0px;
}
.swiper-slide {
   width: auto;
}
.blog__swiper {
   width: 100%;
}
.blog__body {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   gap: 30px;
}
.blog__column {
   flex: 0 1 697px;
   width: auto;
}
.pagination_wrapper {
   width: 100%;
}
.blog-text__img {
   max-width: 100%;
}
.blog-text__img img {
   width: 100%;
   object-fit: cover;
}
.pagination {
   padding-top: 20px;
   display: flex;
   width: 100%;
   justify-content: flex-end;
}
.page-item {
   width: 45px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   color: rgb(41, 45, 51);
   font-size: 16px;
   font-weight: 600;
   transition: all 0.3s;
}
.page-item._active {
   width: 50px;
   border: 1px solid #5c8ee6;
   color: #5c8ee6;
   margin: 0px 15px 0px 15px;
}
@media (max-width: 1650px) {
   .blog__column {
      flex: 0 1 570px;
   }
}
@media (max-width: 1400px) {
   .blog__column {
      flex: 0 1 465px;
   }
   .item-blog__title {
      font-size: 16px;
   }
   .item-blog__text {
      font-size: 12px;
   }
}
@media (max-width: 1150px) {
   .blog__column {
      flex: 0 1 100%;
      width: 100%;
   }
}
@media (max-width: 450px) {
   .about-header__title {
      margin: 0px 0px 25px 0px;
   }
   .about-header__title::before {
      top: -18px;
   }
   .secondary_header {
      margin: 0px 0px 48px 0px;
   }
   .blog__body {
      gap: 10px;
   }
   .item-blog__title {
      font-size: 20px;
      margin: 0px 0px 0px 0px;
   }
   .pagination {
      justify-content: center;
   }
   .blog__swiper {
      margin: 0px 0px 60px 0px;
   }
}
