.subheader-bg {
   background: url("../img/blog/blog_bg.webp") 0 0 / cover no-repeat;
   position: relative;
}
.subheader-bg::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(41, 45, 51, 0.6);
}
.subheader-bg h1,
.subheader-bg li,
.subheader-bg a {
   color: white;
}

.breadcrumbs__item:not(:first-child)::before {
   background-color: #fff;
}

.blog-text {
   margin: 0px 0px 100px 0px;
}
.blog-text__wrapper {
   display: flex;
   justify-content: space-between;
}
.aside {
}
.aside__title {
   color: rgb(130, 138, 153);
   font-size: 16px;
   font-weight: 600;
   margin: 0px 0px 20px 0px;
}
.aside__btns {
   display: flex;
   gap: 10px;
}
.aside__btns a {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   border: 1px solid rgb(235, 235, 240);
}

.blog-text__body {
   max-width: 960px;
}
.blog-text__block {
   margin: 0px 0px 50px 0px;
}
.blog-text__title {
   color: rgb(41, 45, 51);
   font-size: 36px;
   margin: 0px 0px 20px 0px;
}
.blog-text__par {
   color: rgb(41, 45, 51);
   font-size: 16px;
   line-height: 160%;
   margin: 0px 0px 20px 0px;
}
.blog-text__par:last-child {
   margin: 0px 0px 0px 0px;
}
.blog-text__img {
}
.blog-text__list {
}
.blog-text__subtitle {
   color: rgb(41, 45, 51);
   font-size: 20px;
   margin: 0px 0px 20px 0px;
}
.blog-text__item {
   color: rgb(41, 45, 51);
   font-size: 16px;
   padding-left: 36px;
   line-height: 160%;
   position: relative;
   margin: 0px 0px 10px 0px;
}
.blog-text__item::before {
   content: "";
   width: 16px;
   height: 1px;
   background-color: #5c8ee6;
   position: absolute;
   top: 12px;
   left: 0;
}
@media (min-width: 992px) {
   .subheader-bg a:hover {
      color: #fff;
   }
   .aside__btns a:hover {
      border: 1px solid rgb(92, 142, 230);
   }
}
