/*===== secondary header ==============================================================================*/
.contracts-header__title {
   position: relative;
   margin: 0px 0px 33px 0px;
}
.contracts-header {
   margin: 0px 0px 100px 0px;
}

/*===============================================================================================*/

/*===== production ==============================================================================*/
.production {
   margin: 0px 0px 100px 0px;
}
/*===============================================================================================*/

/*===== seo-block ==============================================================================*/
.seo {
   margin: 0px 0px 224px 0px;
}
.seo__title {
   color: rgb(41, 45, 51);
   font-size: 28px;
   font-weight: 400;
   margin: 0px 0px 15px 0px;
}
.seo__body {
   margin: 0px 0px 20px 0px;
}
.seo__body p {
   color: rgb(130, 138, 153);
   font-size: 16px;
   line-height: 160%;
}
.seo__link {
}
/*===============================================================================================*/
