.distributor {
   background: rgb(240, 242, 245);
   margin: 0px 0px 175px 0px;
   position: relative;
}
.distributor__body {
   padding: 125px 0 98px 0;
   max-width: 720px;
   margin-right: auto;
}
.distributor__title {
   position: relative;
   margin: 0px 0px 25px 0px;
}

.distributor__text {
   color: rgb(130, 138, 153);
   font-family: Noto Sans;
   font-size: 16px;
   line-height: 160%;
   margin: 0px 0px 35px 0px;
}
.distributor__list {
   margin: 0px 0px 25px 0px;
   columns: 2;
}
.distributor__item {
   color: rgb(41, 45, 51);
   font-size: 16px;
   margin: 0px 0px 30px 0px;
   position: relative;
   padding-left: 36px;
}
.distributor__item::before {
   content: "";
   width: 16px;
   height: 1px;
   display: inline-block;
   position: absolute;
   top: 50%;
   left: 0;
   background-color: #5c8ee6;
}
.distributor_btn {
   padding: 25px 62px;
   letter-spacing: 0.4px;
}
.distributor_btn span {
   padding-left: 30px;
   background: url("../img/icons/download.svg") 0 0 no-repeat;
}
.distributor__image {
   position: absolute;
   right: 0;
   bottom: 0;
   max-width: 950px;
   object-fit: cover;
}
.distributor__image img {
   width: 100%;
   object-fit: cover;
}
.products {
   margin: 0px 0px 220px 0px;
}

@media (max-width: 1800px) {
   .distributor__image {
      max-width: 650px;
      height: 100%;
   }
   .distributor__image img {
      height: 100%;
      object-position: left;
   }
}
@media (max-width: 1400px) {
   .distributor__image {
      max-width: 350px;
   }
}
@media (max-width: 1150px) {
   .distributor__image {
      display: none;
   }
}
@media (max-width: 767px) {
   .distributor__list {
      columns: 1;
   }
}
@media (max-width: 450px) {
   .distributor {
      margin: 0px 0px 120px 0px;
   }
   .distributor__body {
      padding: 69px 0 53px 0;
   }
   .distributor__text {
      font-size: 14px;
   }
   .distributor__title {
      margin: 0px 0px 15px 0px;
   }
   .distributor__item {
      font-size: 14px;
      margin: 0px 0px 25px 0px;
      padding-left: 45px;
   }
   .distributor__list {
      margin: 0px 0px 31px 0px;
   }
   .distributor_btn {
      display: block;
      width: 100%;
   }
   .distributor__image {
      display: block;
      position: relative;
   }
   .distributor__image img {
      height: 260px;
   }
}
