.politics__body {
   padding: 0 0 150px 0;
}
.politics__body p {
   color: rgb(41, 45, 51);
   font-size: 16px;
   font-weight: 400;
   line-height: 160%;
   margin: 0px 0px 20px 0px;
}
.politics__body p:last-child {
   margin: 0;
}
@media (max-width: 767px) {
   .politics__body p {
      font-size: 14px;
   }
}
@media (max-width: 450px) {
   .about-header__title {
      max-width: 342px;
   }
   .about-header__title::before {
      top: -18px;
   }
   .politics__body {
      padding: 0 0 96px 0;
   }
}
