/*===== Импорты =====================================================================================*/
@import url("nullstyle.css");
@import url("fonts.css");
/*===================================================================================================*/

/*===== Общие элементы ==============================================================================*/
body {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
}

.dark .menu__item,
.dark .header__phone a {
  color: #292d33;
}
.header.dark {
  background-color: #fff;
  border: none;
  transition: all 0.2s ease-in 0s;
}
.title {
  font-family: "Bebas Neue";
  font-size: 60px;
  font-weight: 400;
  line-height: 120%;
  color: #292d33;
}
.link {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  color: #5c8ee5;
  display: flex;
  align-items: center;
}
.link::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #5c8ee5;
  display: inline-block;
  margin-right: 20px;
}
.btn {
  background-color: #5c8ee5;
  color: white;
  font-size: 16px;
  line-height: 160%;
  font-weight: 600;
  transition: background-color 0.3s ease 0s;
}
.btn:hover {
  background-color: #3a71d1;
  transition: background-color 0.3s ease 0s;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
._container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media (max-width: 1800px) {
  ._container {
    max-width: 1200px;
  }
}
@media (max-width: 1500px) {
  ._container {
    max-width: 980px;
  }
}
/*===============================================================================================*/

/*===== header ==================================================================================*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 2px solid rgba(235, 235, 240, 0.2);
  transition: all 0.2s ease 0s;
}
.header__row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 93px;
}
.header__logo {
  align-self: stretch;
  display: flex;
  align-items: center;
  width: auto;
  padding: 25px 50px;
  margin: 0px 25px 0px 0px;
  border-right: 2px solid rgba(235, 235, 240, 0.2);
}
.header__logo a {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header__logo img {
  max-width: 100%;
  min-width: 140px;
}
.header__menu {
  flex: 1 1 100%;
  padding: 0px 0px 0 25px;
  margin: 0px 25px 0px 0px;
  height: 100%;
}
.menu {
  color: white;
}
.menu__list {
  display: flex;
  height: 100%;
  align-items: center;
}
.menu__item {
  height: 100%;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.menu__item::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  width: 0px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #5c8ee5;
  transition: width 0.3s ease 0s;
}
.menu__item:hover::after {
  width: 100%;
  transition: width 0.3s ease 0s;
}
.menu__item a {
  height: 100%;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 160%;
  font-weight: normal;
}
.menu__item:not(:last-child) {
  margin: 0px 50px 0px 0px;
}

.header__phone {
  flex: 1 0 auto;
  padding: 0px 25px;
  margin: 0px 25px 0px 0px;
}
.header__phone a {
  font-size: 16px;
  line-height: 160%;
  font-weight: 600;
  color: white;
  padding-left: 26px;
  background: url("../img/icons/phone.svg") 0 50% / 16px no-repeat;
}
.header__phone a:hover {
  text-decoration: underline;
}
.header__btn {
  flex-shrink: 0;
  height: 100%;
  padding: 0 50px;
  font-size: 16px;
}
@media (max-width: 1800px) {
  .header__row {
    height: 70px;
  }
  .header__logo {
    padding: 15px;
    margin: 0px 15px 0px 0px;
  }
  .header__logo img {
    min-width: 100px;
    height: auto;
  }
  .header__menu {
    padding: 0px 0px 0 10px;
    margin: 0px 10px 0px 0px;
  }
  .menu__item:not(:last-child) {
    margin: 0px 25px 0px 0px;
  }
  .header__phone {
    padding: 0px 10px;
    margin: 0px 10px 0px 0px;
  }
  .header__btn {
    padding: 0px 25px;
  }
}
@media (max-width: 1500px) {
  .menu__item a {
    font-size: 14px;
  }
  .menu__item a {
    flex: 0 1 100%;
  }
  .header__phone a {
    font-size: 14px;
  }
  .header__btn {
    font-size: 14px;
  }
}
@media (max-width: 1300px) {
  .header__row {
    height: 50px;
  }
  .header__logo {
    margin: 0px 10px 0px 0px;
  }
  .header__menu {
    padding: 0px 0px 0 5px;
    margin: 0px 5px 0px 0px;
  }
  .header__logo img {
    min-width: 80px;
  }
  .menu__item:not(:last-child) {
    margin: 0px 15px 0px 0px;
  }
  .menu__item a {
    font-size: 12px;
  }
  .header__phone a {
    font-size: 10px;
  }
  .header__phone {
    padding: 0px 5px;
    margin: 0px 5px 0px 0px;
  }
  .header__btn {
    font-size: 10px;
    padding: 0 15px;
  }
}
/*===============================================================================================*/

/*===== main block ==============================================================================*/
.main-block {
  background: linear-gradient(90deg, rgba(41, 45, 51, 0.6) 0%, rgba(41, 45, 51, 0.6) 100%),
    url("../img/main/main_bg.jpg") 0 0 / cover no-repeat;
  background-color: rgba(41, 45, 51, 0.6);
  display: flex;
  min-height: 100vh;
  margin: 0px 0px 120px 0px;
}
.main-block__body {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1470px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 150px 15px 0 15px;
}
.main-block__title {
  max-width: 1100px;
  margin: 0px 0px 30px 0px;
  color: white;
  font-size: 80px;
  line-height: 120%;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  position: relative;
}
.main-block__title::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 2px;
  display: inline-block;
  background-color: #5c8ee5;
  top: -22px;
  left: 0;
}
.main-block__text {
  max-width: 730px;
  color: white;
  font-size: 16px;
  line-height: 160%;
  margin: 0px 0px 50px 0px;
}
.main-block__btn {
  align-self: start;
  padding: 25px 60px;
  margin: 0px 0px 100px 0px;
}
.cards__row {
  display: flex;
}
.cards__column {
  flex: 0 1 20%;
  border-left: 2px solid rgba(235, 235, 240, 0.2);
  border-top: 2px solid rgba(235, 235, 240, 0.2);
}
.cards__column:last-child {
  border-right: 2px solid rgba(235, 235, 240, 0.2);
}
.cards__item {
  padding: 30px 50px;
  width: 100%;
}
.item-cards__icon {
  width: 40px;
  height: 30px;
  margin: 0px 0px 20px 0px;
}
.item-cards__icon img {
  max-width: 100%;
  max-height: 100%;
}
.item-cards__text {
  color: #fff;
  font-size: 16px;
  line-height: 160%;
}
@media (max-width: 1800px) {
  .main-block__body {
    max-width: 1200px;
    padding: 130px 15px 0 15px;
  }
  .main-block__title {
    font-size: 64px;
    margin: 0px 0px 20px 0px;
  }
  .main-block__text {
    margin: 0px 0px 30px 0px;
  }
  .main-block__btn {
    padding: 20px 45px;
    margin: 0px 0px 70px 0px;
  }
  .cards__item {
    padding: 20px 40px;
  }
  .item-cards__icon {
    width: 30px;
    margin: 0px 0px 14px 0px;
  }
  @media (max-width: 1500px) {
    .main-block__body {
      max-width: 980px;
      padding: 130px 15px 0 15px;
    }
    .main-block__title {
      font-size: 58px;
      line-height: 110%;
      max-width: 850px;
    }
    .main-block__btn {
      padding: 15px 20px;
      margin: 0px 0px 60px 0px;
    }
    .cards__item {
      padding: 20px;
    }
    .item-cards__icon {
      width: 20px;
      height: 20px;
    }
    .item-cards__text {
      font-size: 14px;
    }
  }
}
/*===============================================================================================*/

/*===== work-scheme ==============================================================================*/
.work-scheme {
  padding: 60px 0px 120px 0px;
}
.work-scheme__title {
  margin-bottom: 50px;
  position: relative;
}
.work-scheme__title::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 2px;
  display: inline-block;
  background-color: #5c8ee5;
  top: -22px;
  left: 0;
}
.work-scheme__row {
  display: flex;
  margin: 0 -15px;
}
.work-scheme__column {
  padding: 0 15px;
  flex: 0 1 25%;
}
.work-scheme__item {
}
.item-scheme {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item-scheme__number {
  color: #5c8ee5;
  font-family: "Bebas Neue";
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  margin: 0px 0px 30px 0px;
  display: flex;
  align-items: center;
}
.item-scheme__number::after {
  content: "";
  flex: 1 1 auto;
  height: 2px;
  margin: 0px 0px 0px 30px;

  background-color: #ebebf0;
}
.item-scheme__title {
  color: #292d33;
  font-family: "Noto Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 160%;
  margin: 0px 0px 10px 0px;
}
.item-scheme__text {
  color: #828a99;
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin: 0px 0px 20px 0px;
  flex: 1 1 auto;
}
.item-scheme__link {
}

/*===============================================================================================*/
