/*===== Импорты =====================================================================================*/
@import url("nullstyle.css");
@import url("fonts.css");
/*===================================================================================================*/

/*===== Общие элементы ==============================================================================*/
html {
  font-size: 16px;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
}
body._lock {
  overflow: hidden;
}
.dark .menu__item a,
.dark .header__phone a {
  color: #292d33;
}
.header.dark {
  background-color: #fff;
  border: none;
  transition: all 0.2s ease-in 0s;
}
.title {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 120%;
  color: #292d33;
}
.link {
  font-family: "Noto Sans";
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  color: #5c8ee5;
  position: relative;
  padding: 0px 0px 0px 3.75rem;
  transition: padding 0.3s ease 0s;
}
.link::before {
  content: "";
  width: 2.5rem;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #5c8ee5;
  display: inline-block;
  transition: width 0.3s ease 0s;
}
.link:hover:before {
  width: 3.75rem;
}
.link:hover {
  padding: 0px 0px 0px 5rem;
}
.btn {
  background-color: #5c8ee5;
  color: white;
  font-size: 1rem;
  line-height: 160%;
  font-weight: 400;
  transition: background-color 0.3s ease 0s;
}
.btn:hover {
  background-color: #3a71d1;
  transition: background-color 0.3s ease 0s;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
._container {
  max-width: 93.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
  width: 100%;
}
@media (max-width: 1800px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1600px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 10px;
  }
}
/*===============================================================================================*/

/*===== header ==================================================================================*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: all 0.2s ease 0s;
}
.header__row {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.8125rem;
  transition: height 0.2s ease 0s;
}
.minify {
  height: 4.5625rem;
}
.header__logo {
  display: flex;
  align-items: center;
  padding: 0.625rem 3.125rem 0.625rem 2.0625rem;
  margin: 0px 1.5625rem 0px 0px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header__img {
  width: 8.75rem;
  max-height: 100%;
}
.header__logo img {
  max-width: 100%;
  min-width: 8.75rem;
}
.header__menu {
  flex: 1 1 100%;
  padding: 0px 0px 0 1.5625rem;
  margin: 0px 1.5625rem 0px 0px;
  height: 100%;
}
.header__menu_mobile {
  display: none;
}
.menu {
  color: white;
}
.menu__list {
  display: flex;
  height: 100%;
  align-items: center;
}
.menu__item {
  height: 100%;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.menu__item::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  width: 0px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #5c8ee5;
  transition: width 0.3s ease 0s;
}
.menu__item:hover::after {
  width: 100%;
  transition: width 0.3s ease 0s;
}
.menu__item a {
  color: #fff;
  height: 100%;
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.025rem;
}

.menu__item:not(:last-child) {
  margin: 0px 3.125rem 0px 0px;
}

.header__phone {
  flex: 1 0 auto;
  padding: 0px 1.5625rem;
  margin: 0px 1.5625rem 0px 0px;
}
.header__phone a {
  font-size: 1rem;
  line-height: 160%;
  font-weight: 400;
  color: white;
  padding-left: 1.625rem;
}
.header__phone-link {
  display: flex;
  align-items: center;
}
.header__phone_img {
  fill: #5c8ee6;
  width: 1rem;
  max-height: 100%;
  margin: 0px 0.9375rem 0px 0px;
}
.header__phone a:hover {
  text-decoration: underline;
}
.header__btn {
  flex-shrink: 0;
  height: 100%;
  padding: 0 3.1875rem;
  font-size: 1rem;
  letter-spacing: 0.0375rem;
  margin-left: auto;
}
.header__btn svg {
  display: none;
}
@media (max-width: 1150px) {
  .header__phone,
  .header__btn span,
  .header__menu {
    display: none;
  }
  .header__row {
    min-height: 67px;
  }
  .header__logo {
    flex: 1 1 auto;
    margin: 0;
    justify-content: center;
    padding: 0;
  }
  .header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
  }
  .header__btn svg {
    display: block;
  }
  .header__phone_img {
    margin: 0;
  }
  .header__btn .header__phone_img {
    width: 16px;
    fill: #fff;
  }
  .header__menu_mobile {
    z-index: 4;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0px 0px 20px 0px;
    transition: left 0.2s ease 0s;
    overflow: auto;
  }
  .header__menu_mobile._active {
    left: 0;
  }
  .mobile-menu__item a {
    color: rgb(41, 45, 51);
    font-size: 14px;
    font-weight: 700;
  }
  .mobile-menu__item {
    margin: 0px 0px 30px 0px;
  }
  .mobile-menu__sublist {
    padding: 20px 20px 0px 20px;
  }
  .mobile-menu__subitem {
    margin: 0px 0px 10px 0px;
  }
  .mobile-menu__subitem a {
    color: rgb(130, 138, 153);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }
  .mobile-menu_list {
    padding: 80px 15px 0;
    border-bottom: 2px solid rgba(235, 235, 240);
  }
  .mobile-menu__contacts {
    padding: 30px 15px 0;
  }
  .mobile-menu__phone {
    display: inline-block;
    color: rgb(41, 45, 51);
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
  }
  .mobile-menu__address {
    color: rgb(41, 45, 51);
    font-size: 14px;
    font-weight: 400;
    padding: 0px 0px 0px 34px;
    margin: 0px 0px 10px 0px;
    line-height: 160%;
    background: url("../img/icons/address.svg") 6px 0 / 12px 100% no-repeat;
  }
  .mobile-menu__email {
    display: inline-block;
    color: rgb(41, 45, 51);
    font-size: 14px;
    font-weight: 400;
    padding: 0px 0px 0px 34px;
    margin: 0px 0px 25px 0px;
    line-height: 160%;
    background: url("../img/icons/mail.svg") 4px 0 / 16px 100% no-repeat;
  }
  .mobile-menu__social {
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }
}

/*===============================================================================================*/

/*===== burger menu ==============================================================================*/
.burger-menu {
  display: none;
}
@media (max-width: 1150px) {
  .burger-menu {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .burger-menu__icon {
    width: 20px;
    height: 13px;
    cursor: pointer;
    z-index: 5;
    position: relative;
  }
  .burger-menu__icon span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  .burger-menu__icon span.dark {
    background-color: #292d33;
  }
  .burger-menu__icon span:first-child {
    top: 0px;
  }
  .burger-menu__icon span:nth-child(2) {
    width: 75%;
  }
  .burger-menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }
  .burger-menu__icon._active span {
    transform: scale(0);
  }
  .burger-menu__icon._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .burger-menu__icon._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
/*===============================================================================================*/

/*===== main block ==============================================================================*/
.main-block {
  background: linear-gradient(90deg, rgba(41, 45, 51, 0.6) 0%, rgba(41, 45, 51, 0.6) 100%),
    url("../img/main/main_bg.jpg") 0 0 / cover no-repeat;
  background-color: rgba(41, 45, 51, 0.6);
  display: flex;
  min-height: 100vh;
  margin: 0px 0px 6.875rem 0px;
}
.main-block__body {
  flex: 1 1 auto;
  width: 100%;
  max-width: 93.125rem;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16.6875rem 0.9375rem 0 0.9375rem;
}
.main-block__title {
  max-width: 68.75rem;
  margin: 0px 0px 2.5rem 0px;
  color: white;
  font-size: 5rem;
  line-height: 120%;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  position: relative;
}
.main-block__title::before {
  content: "";
  position: absolute;
  width: 9.375rem;
  height: 2px;
  display: inline-block;
  background-color: #5c8ee5;
  top: -1.5rem;
  left: 0;
}
.main-block__text {
  max-width: 45.625rem;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.025rem;
  margin: 0px 0px 3.125rem 0px;
}
.main-block__btn {
  align-self: start;
  padding: 1.5625rem 3.75rem;
  margin: 0px 0px 6.25rem 0px;
  letter-spacing: 0.025rem;
}
.cards__row {
  display: flex;
}
.cards__column {
  flex: 0 1 20%;
  border-left: 1px solid rgba(235, 235, 240, 0.2);
  border-top: 1px solid rgba(235, 235, 240, 0.2);
}
.cards__column:last-child {
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}
.cards__item {
  padding: 2rem 3.125rem 1.875rem 3.125rem;
  width: 100%;
}
.item-cards__icon {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0px 0px 1.5rem 0px;
}
.item-cards__icon svg {
  max-width: 100%;
  max-height: 100%;
}
.item-cards__text {
  color: #fff;
  font-size: 1rem;
  line-height: 160%;
  font-weight: 300;
  letter-spacing: 0.3px;
}
/*===============================================================================================*/

/*===== work-scheme ==============================================================================*/
.work-scheme {
  padding: 4.0625rem 0px 0px 0px;
  margin: 0px 0px 6.875rem 0px;
}
.work-scheme__title {
  margin: 0px 0px 3.4375rem 0px;
  position: relative;
}
.work-scheme__title::before {
  content: "";
  position: absolute;
  width: 9.375rem;
  height: 2px;
  display: inline-block;
  background-color: #5c8ee5;
  top: -1.5625rem;
  left: 0;
}
.work-scheme__row {
  display: flex;
  margin: 0 -0.9375rem;
}
.work-scheme__column {
  padding: 0 0.9375rem;
  flex: 0 1 25%;
}
.item-scheme {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item-scheme__number {
  color: #5c8ee5;
  font-family: "Bebas Neue";
  font-size: 3rem;
  font-weight: 600;
  line-height: 120%;
  margin: 0px 0px 2.125rem 0px;
  display: flex;
  align-items: center;
}
.item-scheme__number::after {
  content: "";
  flex: 1 1 auto;
  height: 1px;
  margin: 0px 0px 0px 1.875rem;
  background-color: #ebebf0;
}
.work-scheme__column:first-child .item-scheme__number {
  font-weight: 400;
}
.item-scheme__title {
  color: #292d33;
  font-family: "Noto Sans";
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin: 0px 0px 0.625rem 0px;
  max-width: 80%;
}
.item-scheme__text {
  color: #828a99;
  font-family: "Noto Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin: 0px 0px 1.25rem 0px;
  flex: 1 1 auto;
}
/*===============================================================================================*/
